<!-- قسم القيم الجوهرية -->
<section class="core-values py-5">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
                <h2 class="section-title">{{ 'CoreValuesTitle' | translate }}</h2>
        </div>
        
        <div class="row">
            <!-- الابتكار -->
            <div class="col-lg-6 col-md-6 mb-4">
                <div class="value-card h-100 innovation wow slideInRight animated" data-wow-delay="100ms" data-wow-duration="2500ms" style="visibility: visible; animation-duration: 2500ms; animation-delay: 100ms; animation-name: slideInRight;">
                    <div class="value-icon">
                        <span class="icon-innovation"><i class="fas fa-lightbulb"></i></span>
                    </div>
                    <h3 class="value-title">{{ 'Innovation' | translate }}</h3>
                    <p class="about-one__text">{{ 'InnovationText' | translate }}</p>
                    <div class="value-number">1</div>
                </div>
            </div>
            
            <!-- التميّز -->
            <div class="col-lg-6 col-md-6 mb-4">
                <div class="value-card h-100 excellence wow slideInRight animated" data-wow-delay="200ms" data-wow-duration="2500ms" style="visibility: visible; animation-duration: 2500ms; animation-delay: 200ms; animation-name: slideInRight;">
                    <div class="value-icon">
                        <span class="icon-excellence"><i class="fas fa-award"></i></span>
                    </div>
                    <h3 class="value-title">{{ 'Excellence' | translate }}</h3>
                    <p class="about-one__text">{{ 'ExcellenceText' | translate }}</p>
                    <div class="value-number">2</div>
                </div>
            </div>
            
            <!-- النزاهة -->
            <div class="col-lg-6 col-md-6 mb-4">
                <div class="value-card h-100 integrity wow slideInRight animated" data-wow-delay="300ms" data-wow-duration="2500ms" style="visibility: visible; animation-duration: 2500ms; animation-delay: 300ms; animation-name: slideInRight;">
                    <div class="value-icon">
                        <span class="icon-integrity"><i class="fas fa-handshake"></i></span>
                    </div>
                    <h3 class="value-title">{{ 'Integrity' | translate }}</h3>
                    <p class="about-one__text">{{ 'IntegrityText' | translate }}</p>
                    <div class="value-number">3</div>
                </div>
            </div>
            
            <!-- التعاون -->
            <div class="col-lg-6 col-md-6 mb-4">
                <div class="value-card h-100 collaboration wow slideInRight animated" data-wow-delay="400ms" data-wow-duration="2500ms" style="visibility: visible; animation-duration: 2500ms; animation-delay: 400ms; animation-name: slideInRight;">
                    <div class="value-icon">
                        <span class="icon-collaboration"><i class="fas fa-users"></i></span>
                    </div>
                    <h3 class="value-title">{{ 'Collaboration' | translate }}</h3>
                    <p class="about-one__text">{{ 'CollaborationText' | translate }}</p>
                    <div class="value-number">4</div>
                </div>
            </div>
            
            <!-- الالتزام -->
            <!-- <div class="col-lg-4 col-md-6 mb-4">
                <div class="value-card h-100 commitment wow slideInRight animated" data-wow-delay="500ms" data-wow-duration="2500ms" style="visibility: visible; animation-duration: 2500ms; animation-delay: 500ms; animation-name: slideInRight;">
                    <div class="value-icon">
                        <span class="icon-commitment"><i class="fas fa-bullseye"></i></span>
                    </div>
                    <h3 class="value-title">{{ 'Commitment' | translate }}</h3>
                    <p class="about-one__text">{{ 'CommitmentText' | translate }}</p>
                    <div class="value-number">5</div>
                </div>
            </div> -->
        </div>
    </div>
</section>