<main>

  <!-- Page banner area start here -->
  <section class="banner__inner-page bg-image pt-180 pb-180 bg-image"
    [style.background]="'url(assets/images/banner/Saudi-Arabia-1140x694.webp)'">

    <div class="shape3 wow slideInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
      <img class="sway__animationX" [src]="'assets/images/banner/inner-banner-shape3.webp'" alt="shape"
        loading="lazy" />
    </div>
    <div class="container cssanimation fadeInRight">
      <h2 class="wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms"> {{'PROJECTS.Our product range' |
        translate}}
      </h2>

      <div class="breadcrumb-list wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
        <a routerLink="/">{{"Home" | translate}}</a><span><i class="fa-regular fa-angles-right mx-2"></i>
          {{'PROJECTS.Our product range' | translate}}

        </span>
      </div>
    </div>
  </section>
  <!-- Page banner area end here -->

  <!-- Projects area start here -->
  <section class="projects-inner-page-area pt-30 pb-120">
    <div class="container">
      <app-projects-list></app-projects-list>
    </div>
  </section>
  <!-- Projects area end here -->

  <app-footer></app-footer>
</main>