<div id="targetElement" class="sidebar-area sidebar__hide border-5 border-danger">
  <div class="sidebar__overlay" (click)="closeSidebar()"></div>
  <a routerLink="/" class="logo mb-40">
    <img [src]="'assets/images/logo/svg/logo-gradiant-2.svg'" alt="logo" loading="lazy"/>
  </a>
  <div class="sidebar__search mb-30">
    <input type="text" placeholder="Search...">
    <i class="fa-regular fa-magnifying-glass"></i>
  </div>
  <div class="mobile-menu overflow-hidden">
    <!-- Menu items -->
  </div>
  <ul class="info pt-40">
    <li><i class="fa-solid primary-color fa-location-dot"></i> <a href="#0">example&#64;example.com</a></li>
    <li class="py-2"><i class="fa-solid primary-color fa-phone-volume"></i> <a href="tel:+966537759559">+(966) 53 775 9559</a></li>
    <li><i class="fa-solid primary-color fa-paper-plane"></i> <a href="#0">info&#64;example.com</a></li>
  </ul>
  <button id="closeButton" class="text-white" (click)="closeSidebar()"><i class="fa-solid fa-xmark"></i></button>
</div>
