
<section class="process-area pt-80 pb-120">
    <div class="container">
        <div class="section-header text-center mb-60">
            <h5 class="wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                <img class="me-1" [src]="'assets/images/icon/section-title.png'" alt="icon" loading="lazy"/>
                {{"Why Choose Us" | translate}}
            </h5>
            <h2 class="wow fadeInUp section-title" data-wow-delay="200ms" data-wow-duration="1500ms">{{"What Makes Us Different" | translate}}</h2>
         
        </div>
        <div class="row g-4">
            <!-- Proven Experience -->
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                <div class="process__item mb-100">

                    <div class="process__image">
                        <app-lazy-load-image [imageSrc]="'assets/images/process/process-image1.webp'" [defaultImage]="'assets/images/process/process-image1-blur.webp'" [alt]="'image'" [loading]="'lazy'"/>
                        <span class="process-number">1</span>
                    </div>
                    <div class="process__content">
                        <h4 class="mt-25 mb-10 a-service">{{"Proven Experience" | translate}}</h4>
                        <p>{{"Our team includes engineers, consultants, and developers with extensive experience across various sectors, enabling us to execute complex technical projects efficiently and professionally." | translate}}</p>
                    </div>
                </div>
            </div>

            <!-- Quality Commitment -->
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                <div class="process__item mb-100">
                    <div class="process__image">
                        <app-lazy-load-image [imageSrc]="'assets/images/process/process-image2.webp'" [defaultImage]="'assets/images/process/process-image2-blur.webp'" [alt]="'image'" [loading]="'lazy'"/>
                        <span class="process-number">2</span>
                    </div>
                    <div class="process__content">
                        <h4 class="mt-25 mb-10 a-service">{{"Quality Commitment" | translate}}</h4>
                        <p>{{"We adhere to international standards (ISO/IEC 27001, ISO 9001, ISO/IEC 20000) and implement strict procedures to ensure efficiency, security, and stability." | translate}}</p>
                    </div>
                </div>
            </div>

            <!-- Customer-Focused Approach -->
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                <div class="process__item mb-100">

                    <div class="process__image">
                        <app-lazy-load-image [imageSrc]="'assets/images/process/process-image3.webp'" [defaultImage]="'assets/images/process/process-image3-blur.webp'" [alt]="'image'" [loading]="'lazy'"/>
                        <span class="process-number">3</span>
                    </div>
                    <div class="process__content">
                        <h4 class="mt-25 mb-10 a-service">{{"Customer-Focused Approach" | translate}}</h4>
                        <p>{{"We design solutions according to each client's needs and objectives to ensure complete alignment with their operational environment and strategic requirements." | translate}}</p>
                    </div>
                </div>
            </div>

            <!-- Innovation & Flexibility -->
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                <div class="process__item mb-100">
                    <div class="process__image">
                        <app-lazy-load-image [imageSrc]="'assets/images/process/process-image3.webp'" [defaultImage]="'assets/images/process/process-image3-blur.webp'" [alt]="'image'" [loading]="'lazy'"/>
                        <span class="process-number">4</span>
                    </div>
                    <div class="process__content">
                        <h4 class="mt-25 mb-10 a-service">{{"Innovation & Flexibility" | translate}}</h4>
                        <p>{{"We keep pace with the latest technologies like artificial intelligence, cloud computing, and data analysis to provide our clients with advanced solutions that enhance their competitiveness." | translate}}</p>
                    </div>
                </div>
            </div>

            <!-- Integrated Solutions -->
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="800ms" data-wow-duration="1500ms">
                <div class="process__item mb-100">
                    <div class="process__image">
                        <app-lazy-load-image [imageSrc]="'assets/images/process/process-image4.webp'" [defaultImage]="'assets/images/process/process-image4-blur.webp'" [alt]="'image'" [loading]="'lazy'"/>
                        <span class="process-number">5</span>
                    </div>
                    <div class="process__content">
                        <h4 class="mt-25 mb-10 a-service">{{"Integrated Solutions" | translate}}</h4>
                        <p>{{"We provide an integrated chain of services including consultations, planning, design, implementation, and maintenance within one comprehensive system." | translate}}</p>
                    </div>
                </div>
            </div>

            <!-- Trusted Partnerships -->
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="1000ms" data-wow-duration="1500ms">
                <div class="process__item mb-100">
                    <div class="process__image">
                        <app-lazy-load-image [imageSrc]="'assets/images/process/process-image5.webp'" [defaultImage]="'assets/images/process/process-image5-blur.webp'"  [alt]="'image'" [loading]="'lazy'"/>
                        <span class="process-number">6</span>
                    </div>
                    <div class="process__content">
                        <h4 class="mt-25 mb-10 a-service">{{"Trusted Partnerships" | translate}}</h4>
                        <p>{{"We pride ourselves on our partnerships with global technology companies like Dell, Cisco, Honeywell, Bosch, TP-Link, 3M, and Dell EMC, ensuring high-quality solutions." | translate}}</p>
                    </div>
                </div>
            </div>

            <!-- Continuous Support -->
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="1200ms" data-wow-duration="1500ms">
                <div class="process__item mb-100">
                    <div class="process__image">
                        <app-lazy-load-image [imageSrc]="'assets/images/process/process-image6.webp'" [defaultImage]="'assets/images/process/process-image6-blur.webp'" [alt]="'image'" [loading]="'lazy'"/>
                        <span class="process-number">7</span>
                    </div>
                    <div class="process__content">
                        <h4 class="mt-25 mb-10 a-service">{{"Continuous Support" | translate}}</h4>
                        <p>{{"Our relationship doesn't end at delivery; we continue to provide support and updates to ensure systems remain effective, secure, and compatible with future requirements." | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>