<section class="counter-one mt-5" >
            <div class="container-fluid">
                 <div class="section-header text-center ">
           
            <h2 class="wow fadeInUp section-title" data-wow-delay="200ms" data-wow-duration="1500ms"> {{"Company Highlights" | translate}}</h2>
        </div>
                <ul class="counter-one__box list-unstyled mt-4">
                    <li class="counter-one__single wow fadeInUp animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
                        <div class="counter-one__icon">
                            <i class="fa-solid fa-user-tie"></i>
                            <div class="counter-one__shape"></div>
                        </div>
                        <div class="counter-one__content count-box counted">
                            <h3 class="count-text" data-stop="395" data-speed="1500">17+</h3>
                            <p class="counter-one__text">
                                {{'Investors & Partners' | translate}}
                            </p>
                        </div>
                    </li>
                    <li class="counter-one__single wow fadeInUp animated" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
                        <div class="counter-one__icon">
                            <i class="fa-solid fa-building-columns"></i>
                            <div class="counter-one__shape"></div>
                        </div>
                        <div class="counter-one__content count-box counted">
                            <h3 class="count-text" data-stop="166" data-speed="1500">22+</h3>
                            <p class="counter-one__text">
                                {{'Businesses Serviced' | translate}}
                                
                            </p>
                        </div>
                    </li>
                    <li class="counter-one__single wow fadeInUp animated" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
                        <div class="counter-one__icon">
                           <i class="fa-solid fa-building"></i>
                            <div class="counter-one__shape"></div>
                        </div>
                        <div class="counter-one__content count-box counted">
                            <h3 class="count-text" data-stop="138" data-speed="1500">3</h3>
                            <p class="counter-one__text">
                                {{'Strategic International Partnerships' | translate}}
                                
                            </p>
                        </div>
                    </li>
                    <li class="counter-one__single wow fadeInUp animated" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">
                        <div class="counter-one__icon">
                          <i class="fa-solid fa-pen"></i>
                            <div class="counter-one__shape"></div>
                        </div>
                        <div class="counter-one__content count-box counted">
                            <h3 class="count-text" data-stop="280" data-speed="1500">7</h3>
                            <p class="counter-one__text">
                                {{'Strategic Local Partnerships' | translate}}
                                
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
 